@tailwind base;
@tailwind components;
@tailwind utilities;

.cell {
  @apply bg-primary;
  border: 0.25px solid rgba(0, 0, 0, 0.08);
}

.cell:hover {
  border: 3px solid rgba(0, 0, 0, 0.1);
}

.ship {
  @apply bg-neutral;
}

.invalid {
  @apply bg-warning;
}

.hit {
  @apply bg-error;
}

.miss {
  @apply bg-warning;
}

.toast {
  transform: translateX(calc(100%));
}

.active {
  transform: translateX(0);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.25, 1.35);
}

.inactive {
  transform: translateX(calc(100%));
}
